*{
  margin: 0;
  padding: 0;
}
.con1{
  width: 970px;
  height: 1390px;
  background-color: rgb(0, 0, 0);
  margin: 60px 0 0 80px;
}
.con2{
  display: inline-block;
  width: 900px;
  height: 600px;
  background-color: rgb(11, 251, 0);
  margin: 10px 30px 20px 40px;
}
.con3{
  display: inline-block;
  width: 900px;
  height: 400px;
  background-color: rgb(255, 0, 0);
  margin: 0 10px 30px 60px;
}
.con4{
  display: inline-block;
  width: 900px;
  height: 300px;
  background-color: rgb(3, 14, 255);
  margin: 0 40px 30px 30px ;
}
.container1{
  width: 895px;
  height: 950px;
  background-color: rgb(0, 0, 0);
  margin:60px  0 0 80px;
}
.cont1{
  display: inline-block;
  width: 835px;
  height: 260px;
  background-color: rgb(195, 18, 17);
  margin: 30px 20px 15px 40px;
}
.conte1{
  display: inline-block;
  width: 800px;
  height: 100px;
  background-color: rgb(8, 107, 251);
  margin: 30px 15px 20px 20px;
}
.conte2{
  width: 800px;
  height: 100px;
  background-color: rgb(8, 107, 251);
  margin: 0 15px 15px 20px;
}
.cont2{
  width: 835px;
  height: 350px;
  background-color: rgb(195, 18, 17);
  margin: 0 30px 20px 2px;
}
.peque1{
  display: inline-block;
  width: 800px;
  height: 300px;
  background-color: rgb(83, 0, 255);
  margin: 30px 25px 20px 10px;
}
.cont3{

  width: 835px;
  height: 250px;
  background-color: rgb(247, 1, 42);
  margin: 15px 25px 25px;
}
.todo{
    width: 980px;
    height: 1000px;
    background-color: rgb(1, 1, 1);
    margin: 40px 0 0 30px;
}
.primera{
    display: inline-block;
    width: 900px;
    height: 300px;
    background-color:rgb(247, 247, 247) ;
    margin: 10px 40px 30px 40px;
}
.segunda{
    display: inline-block;
    width: 900px;
    height: 240px;
    background-color:rgb(250, 250, 247);
    margin: 50px 40px 30px;
}
.pri1{
    width: 850px;
    height: 100px;
    background-color: rgb(251, 139, 18);
    margin: 10px 15px 20px 15px;
}
.dos{
  width: 850px;
  height: 100px;
  background-color: rgb(251, 139, 18);
  margin: 15px 10px  15px;
}
.tres{
  width: 900px;
  height: 200px;
  background-color: rgb(252, 252, 252);
  margin: 60px 10px  20px;
}
.tles{
  display: inline-block;
  width: 860px;
  height: 140px;
  background-color: rgb(26, 207, 0);
  margin: 30px 10px  30px 30px;
}
.doss{
  display: inline-block;
  width: 820px;
  height: 100px;
  background-color: rgb(225, 8, 255);
  margin: 20px 20px  20px 20px;
}
.unoo{
  display: inline-block;
  width: 780px;
  height: 80px;
  background-color: rgb(240, 6, 6);
  margin: 10px 20px  10px 20px;
}
.page40{
  width: 1000px;
  height: 1200px;
  background-color: rgb(8, 8, 8);
  margin: 40px 0  0 40px;
}

.page20{
  display: inline-block;
  width: 960px;
  height: 1160px;
  background-color: rgb(249, 247, 246);
  margin: 20px 20px  20px 20px;
}
.holaa{
  display: inline-block;
  width: 900px;
  height: 1100px;
  background-color: rgb(247, 7, 19);
  margin: 30px 30px 30px 30px;
}
.code10{
  display: inline-block;
  width: 840px;
  height: 500px;
  background-color:rgb(238, 255, 0);
  margin: 10px 20px 10px 20px;
}
.code20{
  display: inline-block;
  width: 780px;
  height: 460px;
  background-color:rgb(0, 27, 255);
  margin: 20px 30px 20px 30px;
}
.code30{
  display: inline-block;
  width: 725px;
  height: 420px;
  background-color:rgb(250, 252, 250);
  margin: 20px 30px 20px 30px;
}
.codex{
  display: inline-block;
  width: 880px;
  height: 520px;
  background-color:rgb(238, 255, 0);
  margin: 20px 10px 20px 10px;
}
.codex1{
  display: inline-block;
  width: 840px;
  height: 500px;
  background-color:rgb(0, 27, 255);
  margin: 10px 20px 10px 20px;
}
.codex2{
  display: inline-block;
  width: 780px;
  height: 460px;
  background-color:rgb(250, 252, 250);
  margin: 20px 30px 20px 30px;
}
.super{
  width: 900px;
  height: 1750px;
  background-color:rgb(0, 0, 0);
  margin: 70px  60px;
}
.super1{
  display: inline-block;
  width: 800px;
  height: 1400px;
  background-color:rgb(255, 255, 255);
  margin: 20px 60px 40px 40px;
}
.superpe{
  display: inline-block;
  width: 810px;
  height: 200px;
  background-color:rgb(0, 86, 254);
  margin: 30px 30px 20px 30px;
}
.super2{
  display: inline-block;
  width: 740px;
  height: 300px;
  background-color:rgb(121, 226, 196);
  margin: 20px 30px 30px 30px;
}
.super3{
  display: inline-block;
  width: 740px;
  height: 300px;
  background-color:#00045e;
  margin: 30px 20px 15px 40px;
}
.super4{
  display: inline-block;
  width: 760px;
  height: 300px;
  background-color:rgb(255, 0, 9);
  margin: 15px 40px 15px 20px;

}
